@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap&subset=latin-ext');

img {
  max-width: 100%;
  width: auto;
}

.Container {
  @include container;
}

// Turbolinks progress bar
.turbolinks-progress-bar {
  height: 0.5rem;
  background-color: $black;
}
