// Container

@mixin container {
  padding: 8rem 2rem 8rem;
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;

  @include md {
    padding: 10rem 3rem 12rem;
  }

  @include lg {
    padding: 12rem 4rem 15rem;
  }
}
