.Navigation {
  width: 100%;
  border-bottom: thin solid $gray-border;
  background: $gray-light;
  padding: 2rem 0;
}

.Navigation-content {
  @include container;
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
}

.Navigation-link {
  @include link;
}

.Navigation-separator {
  margin: 0 0.5rem;
}
