html {
  font-size: 10px;

  @include xl {
    font-size: 12px;
  }
}

body {
  // -moz-osx-font-smoothing: grayscale;
  font-size: 2.4rem;
  font-family: $font-family-handwriting;
  line-height: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}
