<div class="Footer">
  <div class="Container">
    <p>
      U znak sećanja na Kostu, {{ site.belgrade }} 2020.<br />
    </p>
    <nav class="Footer-nav">
      {% if page.url != '/' %}
      <a href="/">{{ site.homeLinkText }}</a>
      {% endif %}
      <a href="{{ site.aboutLink }}">{{ site.aboutText }}</a>
    </nav>
    <p class="Footer-license">
      Sav sadržaj i kod sajta su pod <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> licencom.
    </p>
  </div>
</div>
