{% include set-translations.html %}

<div class="LanguageSelector" data-inclusive-menu>
  <button
    class="LanguageSelector-button"
    data-inclusive-menu-opens="language"
    aria-haspopup="true"
    aria-expanded="false"
    aria-label="{{ t.language | default: "Language" }}"
  >
    <img class="LanguageSelector-icon" src="/public/img/translation.svg" aria-hidden="true" />
    <span aria-hidden="true" class="LanguageSelector-text">
      {{ t.language | default: "Language" }}
    </span>
  </button>
  <div
    id="language"
    data-inclusive-menu-from="left"
    role="menu"
    hidden
  >
    {% for language in site.languages %}
      <a
        role="menuitem"
        tabindex="-1"
        href="{{ language.link }}"
        class="LanguageSelector-link {% if language.code == lang %}LanguageSelector-link--current{% endif %}"
      >
        <img
          class="LanguageSelector-flag"
          src="/public/img/flags/{{ language.code }}.svg"
          aria-hidden="true"
         />
        {{ language.text }}
      </a>
    {% endfor %}
  </div>
  <noscript>
    <style>
      .LanguageSelector {
        margin-left: auto;
      }
      .LanguageSelector button {
        display: none;
      }
      #language {
        display: block;
        position: relative;
        border: none;
        margin-left: -0.8rem;
      }
    </style>
  </noscript>
</div>
