{% include set-translations.html %}

<nav class="Pagination">
  {% if page.prevLink %}
    <a
      class="Pagination-link Pagination-link--prev"
      href="{{ page.prevLink }}"
      title="{{ t.prevLinkText }}"
      aria-label="{{ t.prevLinkText }}"
    >
      &laquo;
    </a>
  {% else %}
    <div class="Pagination-placeholder"></div>
  {% endif %}

  <div class="Pagination-imageWrapper">
    <a
      href="{{ t.homeUrl }}"
      class="Pagination-homeLink"
      title="{{ t.homeLinkText }}"
      aria-label="{{ t.homeLinkText }}"
    >
      <img src="/public/img/letter.png" aria-hidden="true" />
    </a>
  </div>

  {% if page.nextLink %}
    <a
      class="Pagination-link Pagination-link--next"
      href="{{ page.nextLink }}"
      title="{{ t.nextLinkText }}"
      aria-label="{{ t.nextLinkText }}"
    >
      &raquo;
    </a>
  {% else %}
    <div class="Pagination-placeholder"></div>
  {% endif %}
</nav>
