@import "base/normalize.scss";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}


.Page-enter {
  opacity: 0;
  transform: translateX(-100%) scale(0.75);
}
.Page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 1000ms, opacity 1000ms;
}
.Page-exit {
  opacity: 1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.Page-exit-active {
  opacity: 0;
  transform: translateX(100%) scale(0.75);
  transition: transform 1000ms, opacity 1000ms;
}
