.Response {
  @include container;

  @include sm-only {
    margin-top: 1rem;
  }
}

.Response-content {
  font-family: $font-family-serif;
  font-weight: $font-weight-serif;
  font-size: 1.8rem;

  @include md {
    font-size: 2rem;
  }

  p {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    text-indent: 2em;
  }
}

.Response-date {
  text-indent: 2em;
  margin-bottom: 3rem;
}

.Response-signature {
  margin-top: 2em;
  text-indent: 2em;
}
