---
layout: compress
---
<!DOCTYPE html>
{% include set-translations.html %}
<html lang="{{ lang }}" class="--show-focus">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/public/assets/app.css" | relative_url }}">

    <title>
      {{ t.title }}
      {% if page.title %}
        {{ " &middot; " | append: page.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ t.metaDescription }}">
    <meta property="og:site_name" content="{{ t.title }}">
    <meta property="og:title" content="{{ t.title }}">
    <meta property="og:description" content="{{ t.metaDescription }}">
    <meta property="og:image" content="/public/img/{{ t.metaImage }}">
    <meta property="og:url" content="{{ t.url }}">
    <meta name="twitter:title" content="{{ t.title }}">
    <meta name="twitter:description" content="{{ t.metaDescription }}">
    <meta property="twitter:image" content="/public/img/{{ t.metaImage }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ t.manifest | default: "/public/img/favicon/site.webmanifest" }}">
    <link rel="mask-icon" href="/public/img/favicon/safari-pinned-tab.svg" color="#2b5797">
    <link rel="shortcut icon" href="/public/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/public/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    {% include navigation.html %}

    <main class="Content">
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="{{ "/public/assets/app.js" | relative_url  }}"></script>
    <script>
      if (window.location.hostname !== 'localhost') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ t.analyticsCode }}', 'auto');
        ga('send', 'pageview');
      }
    </script>

  </body>
</html>
