---
layout: default
---
{% include set-translations.html %}

<div class="Home">
  <div class="Home-content">
    <div class="Home-top">
      <div class="Home-topContent Container">
        <div>
          <h1 class="Home-title">{{ page.homeTitle }}</h1>
          <div class="Home-author">{{ page.homeAuthor }}</div>
        </div>
        {% include language-selector.html %}
      </div>
    </div>
    <div class="Container">
      {% for part in page.homeText %}
        <p class="Home-text">
          {{ part }}
        </p>
      {% endfor %}
      <p class="Home-dedication">{{ page.homeDedication }}</p>
    </div>
  </div>

  {% include first-letter-link.html %}
</div>
