---
layout: default
---

<div class="LetterOne">
  <div class="LetterOne-title">{{ page.header }}</div>

  <div class="LetterOne-blocks">
    <div class="LetterOne-block LetterOne-block--one">
      <p class="LetterOne-text">
        {{ page.blockOne.text }}
      </p>
      <img
        class="LetterOne-image LetterOne-image--one"
        src="{{ page.blockOne.image }}"
        alt="{{ page.blockOne.alt }}"
      />
    </div>

    <div class="LetterOne-block LetterOne-block--two">
      <p class="LetterOne-text">
        {{ page.blockTwo.text }}
      </p>
      <img
        class="LetterOne-image"
        src="{{ page.blockTwo.image }}"
        alt="{{ page.blockTwo.alt }}"
      />
    </div>

    <div class="LetterOne-block LetterOne-block--three">
      <div class="LetterOne-blockThreeTextWrapper">
        <p class="LetterOne-text">
          {{ page.blockThree.text }}
        </p>
        {% if page.blockThree.warningInscription %}
          <p class="LetterOne-inscription">
            {{ page.blockThree.warningInscription }}
          </p>
        {% endif %}
      </div>
      <img
        class="LetterOne-image"
        src="{{ page.blockThree.image }}"
        alt="{{ page.blockThree.alt }}"
      />
    </div>

    <div class="LetterOne-block LetterOne-block--four">
      <p class="LetterOne-text">
        {{ page.blockFour.text }}
      </p>
      <p class="LetterOne-inscription">
        {{ page.blockFour.treeInscription }}
      </p>
      <img
        class="LetterOne-image"
        src="{{ page.blockFour.image }}"
        alt="{{ page.blockFour.alt }}"
      />
    </div>
  </div>

  {% include pagination.html %}
</div>
